<h1 class="c1">{{title}}</h1>

<input [(ngModel)]="userName">
<div *ngIf="month > 10"> {{ userName }} </div>

<br><br><br>

<div>{{ pageHeading }}</div>
<br>
<h3>Built-In Pipes</h3>
<div> {{ lowerCaseExample | lowercase }} </div>
<div> {{ upperCaseExample | uppercase }} </div>
<div> TitleCase é fera: {{ upperCaseExample | titlecase }} </div>

<div> {{ dateExample | date }} </div>
<code> {{ jsonExample | json }} </code>
<div> {{ currencyExample | currency }} </div>
<div> {{ percentExample | percent }} </div>

<br><br>

<h3>Parameterized Pipes</h3>

<div> {{ currencyExample | currency: 'BRL' }} </div>

<div> {{ dateExample | date: 'dd-MMM-yy' }} </div>

<div> {{ percentExample | percent: '1.2-4' }} </div>

<h3>Chaining Pipes</h3>

<div> {{ dateExample | date: 'dd-MMMM-yy' | uppercase }} </div>

<p [style.color]="txtColorVal">Page Count value is {{ pageCount }}</p>

<img [src]="imgUrl" [alt]="imgAlt" >

<div *ngIf="isUserLoggedIn">
  <!-- <div>{{ userObject.firstName }} {{ userObject.lastName }}</div> -->
  <div [innerHTML]="userObject.firstName"></div>
</div>

<br>

<table style="background-color: #ddd;">
  <tr>
    <td>ContactId</td>
    <td>Contact Name</td>
    <td>Contact Email</td>
  </tr>
  <tr>
    <!-- Assim não funciona, pq o colspan não é uma propriedade conhecida de <td> -->
    <!-- nesse caso, como td não tem essa propriedade por padrão -->
    <!-- temos que passar como atributo (attr). Aqui explica bem: -->
    <!-- https://www.geeksforgeeks.org/what-is-the-difference-between-properties-and-attributes-in-html/ -->
    <!-- <td [colspan]="colVal">ContactId</td> -->
    <td [attr.colspan]="colVal">ContactId</td>
    <td>Contact Email</td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>ContactId</th>
    <th>FirstName</th>
    <th>LastName</th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td [title]="contact.contactId">{{ contact.contactId }}</td>
    <td [title]="contact.firstName">{{ contact.firstName }}</td>
    <td>{{ contact.lastName }}</td>
  </tr>
</table>

<button (click)="sayHello()">Me aperte</button>
<br>
<div (mouseover)="highlightBGcolor(1, 3, 4)">Highlight me please</div>

<input type="text" (focus)="inputBox()">


<br>
<br>
<!-- Preciso aprender isso aqui - na vdd, revisar né,
pq eu já fiz isso no admin kkk  -->
<!-- E era assim que fazia! Esse é o two-way databinding das antigas!
[value] e depois o event que quer -->
<input title="Tenta digitar 'Felipe'" type="text"
[value]="firstName" (input)="getValue($event)">
<p>{{firstName}}</p>


<div [ngSwitch]="firstName">
    <div *ngSwitchCase="contacts[0].firstName">Felipe fodão</div>
    <div *ngSwitchCase="contacts[1].firstName">Indiano do kraio - fodão</div>
    <div *ngSwitchCase="contacts[2].firstName">Solo un culo</div>
    <div *ngSwitchDefault>Não achou ninguém não</div>
</div>

<!--
Tudo comentado para deixar todos os aprendizados registrados

<div class="bg-success" *ngIf="successMsg; then updatedMsg; else errorMsg">
  user added succefully
</div>

<ng-template #updatedMsg>
  user updated
</ng-template>

<ng-template #errorMsg>
  user was not added
</ng-template>

<h2>Learning ngFor</h2>

<ul>
  <li *ngFor="let contact of contacts; index as i; first as f; last as l; even as e; odd as od">
    <div *ngIf="f"> this is first record</div>
    <div *ngIf="e" style="background-color: #ddd;">
      {{ i }}: {{ contact.firstName }} || {{ contact.lastName }}
    </div>
    <div *ngIf="od" style="background-color: #f2f2f2;">
      {{ i }}: {{ contact.firstName }} || {{ contact.lastName }}
    </div>
    <div *ngIf="l"> this is last record</div>
  </li>
</ul>

<h2>Learning ngSwitch</h2>

<div [ngSwitch]="superPower">
  <div *ngSwitchCase="'WonderWoman'">Display WonderWoman super powers</div>
  <div *ngSwitchCase="'SuperMan'">Display SuperMan super powers</div>
  <div *ngSwitchCase="'heMan'">Display heMan super powers</div>
  <div *ngSwitchCase="'SpiderWoman'">Display SpiderWoman super powers</div>
  <div *ngSwitchDefault>No super powers</div>
</div>

<div [ngSwitch]="tax">
  <div *ngSwitchCase="30">Tax is 30%</div>
  <div *ngSwitchCase="50">Tax is 50%</div>
  <div *ngSwitchDefault>There is no taxes</div>
</div>

<h2>Learning ngStyle</h2>

<div [ngStyle]="{'background-color': 'green', 'color' : 'white'}">This is green DIV</div>

<div [ngStyle]="{'background-color' : styleProp}" >This is Dynamic color DIV</div>

<div [ngStyle]="{'color' : txtColor === 'success'? 'green' : 'red'}">This is conditional DIV</div>


<h2>Learning ngClass</h2>

<div [ngClass]="'c1'">This is ngClass example</div>

<div [ngClass]="'c1 c2'">This is ngClass Multiple classes example</div>

<div [ngClass]="styleClsProp">This is using variable ngClass example</div>

<div [ngClass]="conditionClsProp === 'c4' ? 'c4' : 'c5'">This is using conditional variable ngClass example</div>

<div [ngClass]="{c4: true, c5: true}">This is using object ngClass example</div>

<div [ngClass]="getClsName()">This is using method ngClass example</div>

-->

<router-outlet></router-outlet>
