.c1 {
  background-color: red;
  color: white;
}

.c2 {
  color: blue;
  font-size: 16px;
}

.c3 {
  background-color: darksalmon;
  color: #222;
}

.c4 {
  background-color: blueviolet;
  color: lightcyan;
}

.c5 {
  background-color: red;
}
