<p>loan-types works!</p>

<form [formGroup]="addLoanTypeForm" class="m-3">
  <div class="row">
    <div class="col-3">
      <label class="form-label"   for="loanName">Loan Name</label>
      <input class="form-control" type="text"  formControlName="loanName" id="loanName" (keyup)="trackLoanName()">
      <span class="text-danger" *ngIf="addLoanTypeForm.get('loanName')?.hasError('required') && addLoanTypeForm.get('loanName')?.touched">Loan name is required</span>
      <span class="text-danger" *ngIf="addLoanTypeForm.get('loanName')?.hasError('minlength') && addLoanTypeForm.get('loanName')?.touched">Loan name should be minimum of 10 chars</span>
      <span class="text-danger" *ngIf="addLoanTypeForm.get('loanName')?.hasError('maxlength') && addLoanTypeForm.get('loanName')?.touched">Loan name should be maximum of 25 chars</span>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label class="form-label" for="loanType">Loan Type</label>
      <input class="form-control" type="text" formControlName="loanType" id="loanType">
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label class="form-label" for="loanDescription">Loan Description</label>
      <textarea class="form-control" formControlName="loanDescription" id="loanDescription"></textarea>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-3">
      <div formArrayName="users">
        <label>Users</label>
        <div *ngFor="let control of getControls(addLoanTypeForm, 'users'); let i = index">
          <input type="text" [formControlName]='i'>
        </div>
      </div>
    </div>
  </div> -->
  <button class="btn btn-primary mt-4" (click)="addUser()">Add New User</button>
  <div class="row">
    <div class="col-3">
      <div formArrayName="users">
        <label>Users</label>
        <div *ngFor="let control of getControls(addLoanTypeForm, 'users'); let i = index;" [formGroupName]="i">
          <input class="form-control" type="text" formControlName='name'>
          <input class="form-control" type="text" formControlName='age' (blur)="assignDept(i)">
          <input class="form-control" type="text" formControlName='dept'>
          <button  class="btn btn-danger mb-3" (click)="removerUser(i)">Remove</button>
        </div>
      </div>
    </div>
  </div>


  <button class="btn btn-primary mt-4" [disabled]="!addLoanTypeForm.valid" (click)="addLoanType()">Add Loan Type</button>
  <button class="btn btn-primary mt-4" (click)="resetForm()">Reset Form</button>

</form>
